.teamname {
    min-width:130px;
    text-align: center;
}

input {
    text-align: center;
}

.form-control{
    min-width: 50px;
}

.secondary-addon{
    max-width: 10px;
}

#playbutton{
    background-color: #1DA16A;
    color: white
}

#playbutton:hover{
    background-color: #1E704E;
}

.simtable td{
    text-align: center;
    vertical-align: middle;
}
.simtable{
    border: 1px solid red;
    font-size: 17px;
}

.team{
    vertical-align: middle;
    min-width: 100px;

}
.well{
    height: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 60px 10px;
    font-size: 40px;
    font-family: Impact;
    letter-spacing: 1.5px;

}
.custom{
    background-color: #66638F;
}
.bustom{
    background-color: #AA8FBA;
}

#sim-input{
    margin-left: 10px;
}

.table-standings thead{
    background-color: #EBEBED;
    font-weight: bold;
}

.table-standings{
    text-align: center;
    border: 1px solid #B5B5B5;
}

.table-standings td{
    border: 1px solid #B5B5B5;
}

.points-standings{
    background-color: #BEEBDA;
    font-weight: bold;
    color: #34676B;
}

.points-3{
    background-color: #BEEBDA;
}

.points-1{
    background-color: #C9DEF0;
}



.game-date{
    text-align: left;
}

.side-nav{
    margin-top: 29px;
}

.logo-name{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif ;
    font-size: 18px;
}

.login-label{
    min-width: 120px;
}

.infocircle{
    margin-left: 10px;
    color: #375BAB;
}

.forgot{
    margin-left: 10px;
    color: #3E70A8;
    font-size: 13px;
}

.db-error{
    color: #CC4557;
}

.continuebutton{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}